<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PortalCalculator"
        tools:targetApi="31">
        <activity
            android:name=".LocationListingDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_location_listing_details"
            android:theme="@style/Theme.PortalCalculator" />
        <activity
            android:name=".CreditsAboutActivity"
            android:exported="false"
            android:label="@string/title_activity_credits_about"
            android:theme="@style/Theme.PortalCalculator" />
        <activity
            android:name=".PageScraperListingActivity"
            android:exported="false"
            android:label="@string/title_activity_bases_of_interest"
            android:theme="@style/Theme.PortalCalculator" />
        <activity
            android:name=".AddressesOfInterestActivity"
            android:exported="false"
            android:label="@string/title_activity_addresses_of_interest"
            android:theme="@style/Theme.PortalCalculator" />
        <activity
            android:name=".GlyphPinpointerActivity"
            android:exported="false"
            android:label="@string/title_activity_glyph_pinpointer"
            android:theme="@style/Theme.PortalCalculator" />
        <activity
            android:name=".CoordinateConversionActivity"
            android:exported="false"
            android:label="@string/title_activity_coordinate_conversion"
            android:theme="@style/Theme.PortalCalculator" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PortalCalculator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>